h1{
    font-size: medium;
}
h3{
    font-family: "Marck Script", sans-serif;
    text-decoration: underline;
}
p{
    font-family: "Marck Script", sans-serif;
}
footer p{
    font-family: "Times New Roman";
}
